In [44]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression as LR
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier#ランダムフォレスト

In [35]:
train  = pd.read_csv('train.tsv', delimiter='\t')
test  = pd.read_csv('test.tsv', delimiter='\t')

In [36]:
train

,id,sepal length in cm,sepal width in cm,petal length in cm,petal width in cm,class
0,0,5.3,3.7,1.5,0.2,Iris-setosa
1,1,6.8,2.8,4.8,1.4,Iris-versicolor
2,3,6.1,3.0,4.9,1.8,Iris-virginica
3,4,6.4,3.2,5.3,2.3,Iris-virginica
4,5,6.3,3.3,4.7,1.6,Iris-versicolor
...,...,...,...,...,...,...
70,142,6.4,3.2,4.5,1.5,Iris-versicolor
71,143,5.4,3.9,1.7,0.4,Iris-setosa
72,145,5.6,3.0,4.1,1.3,Iris-versicolor
73,148,5.2,2.7,3.9,1.4,Iris-versicolor
74,149,6.9,3.1,5.1,2.3,Iris-virginica

In [37]:
test

,id,sepal length in cm,sepal width in cm,petal length in cm,petal width in cm
0,2,6.1,2.8,4.7,1.2
1,7,6.3,2.5,4.9,1.5
2,8,6.2,3.4,5.4,2.3
3,10,6.7,3.1,4.7,1.5
4,13,5.0,3.4,1.6,0.4
...,...,...,...,...,...
70,137,5.8,2.6,4.0,1.2
71,141,5.1,3.5,1.4,0.2
72,144,6.2,2.2,4.5,1.5
73,146,6.5,3.0,5.2,2.0
74,147,5.2,3.5,1.5,0.2

In [20]:
train.describe()

,sepal length in cm,sepal width in cm,petal length in cm,petal width in cm
count,75.000000,75.000000,75.000000,75.000000
mean,5.922667,3.097333,3.844000,1.220000
std,0.877277,0.443565,1.852116,0.787572
min,4.400000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.550000,0.200000
50%,5.900000,3.000000,4.400000,1.400000
75%,6.450000,3.350000,5.250000,1.800000
max,7.900000,4.200000,6.900000,2.500000

In [25]:
train.isnull().sum()

sepal length in cm    0
sepal width in cm     0
petal length in cm    0
petal width in cm     0
class                 0
dtype: int64

In [21]:
test.describe()

,sepal length in cm,sepal width in cm,petal length in cm,petal width in cm
count,75.000000,75.000000,75.000000,75.000000
mean,5.764000,3.017333,3.672000,1.178667
std,0.773486,0.427239,1.682064,0.740762
min,4.300000,2.200000,1.100000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.700000,3.000000,4.300000,1.300000
75%,6.350000,3.300000,5.050000,1.800000
max,7.700000,4.400000,6.100000,2.500000

In [38]:
trainX = train[['sepal length in cm','sepal width in cm','petal length in cm','petal width in cm']]
y = train['class']
testX = test[['sepal length in cm','sepal width in cm','petal length in cm','petal width in cm']]

In [39]:
model = LR()
model.fit(trainX, y)

ValueError: could not convert string to float: 'Iris-setosa'

In [40]:
# 「train」の目的変数と説明変数の値を取得
target = train["class"].values
features_one = train[["sepal length in cm","sepal width in cm","petal length in cm","petal width in cm"]].values
 # 決定木の作成
my_tree_one = tree.DecisionTreeClassifier()
my_tree_one = my_tree_one.fit(features_one, target)
 
# 「test」の説明変数の値を取得
test_features = test[["sepal length in cm","sepal width in cm","petal length in cm","petal width in cm"]].values
 
# 「test」の説明変数を使って「my_tree_one」のモデルで予測
my_prediction = my_tree_one.predict(test_features)

In [43]:
# PassengerIdを取得
Id = np.array(test["id"]).astype(int)
 
# my_prediction(予測データ）とPassengerIdをデータフレームへ落とし込む
submit = pd.DataFrame(my_prediction, Id, columns = ["class"])
 
# my_tree_one.csvとして書き出し
submit.to_csv("submit.csv", index_label = ["id"],header=None)

In [42]:
submit

               class
2    Iris-versicolor
7     Iris-virginica
8     Iris-virginica
10   Iris-versicolor
13       Iris-setosa
..               ...
137  Iris-versicolor
141      Iris-setosa
144  Iris-versicolor
146   Iris-virginica
147      Iris-setosa

[75 rows x 1 columns]

In [45]:
# ランダムフォレストで分類
trainX=train.drop("class", axis=1)
trainY=train['class'].values
testX=test

In [ ]:
clf = RandomForestClassifier(random_state=1234)
clf.fit(trainX, trainY)
print("score=", clf.score(X_test, y_test))

In [ ]:
# SVMで分類
train  = pd.read_csv('train.tsv', delimiter='\t')
test  = pd.read_csv('test.tsv', delimiter='\t')

# trainXとtrainYを作成

# 線形SVMのインスタンスを生成